<!DOCTYPE html>
<html>
<title>Weather App</title>
{{> stylerefs}}
<body>

<!-- Navbar -->
{{> navbar}}

<header class="w3-container w3-center w3-padding-32">
  <h1><b>Weather Search Page</b></h1>
  <p>Welcome to this page to search for weather</p>
</header>

<div class="w3-row w3-padding-64" id="about">
  <div class="w3-col m6 w3-padding-large w3-hide-small">
   <img src="./japan1.jpeg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
  </div>
  <div class="w3-col m6 w3-padding-large">
    <form action="/" method="post">
      <label for="address">Enter address: </label>
      <input name="address" type="text" placeholder="Enter address..." />
        <p></p>
        <input type="submit" value="Send" formaction="/getweather"/>
    </form>
  </div>
</div>


<!-- footer -->
{{> footer}}

</body>
</html>
